# dependencies
node_modules

# misc
token
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# application specific
dist/desktop-builds
stats.json
package.list
src/secrets.ts
tsc_errors.txt
cypress/integration/examples
.vercel
